/* Banner */

.container {
  display: flex;
  margin-top: 3em;
  margin-bottom: 3em;
  padding-top: 2em;
  background-color: #fff;
  border-radius: 8px;
}

.info {
  width: 35%;
  padding: 5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info h2 {
  font-size: 2.8rem;
  font-weight: 700;
  padding-bottom: 0.5em;
}

.info p {
  font-size: 1.25rem;
  padding-bottom: 1em;
}

.info a {
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info svg {
  margin-top: 5.5px;
}
.image {
  width: 65%;
  display: flex;
  justify-content: center;
  position: relative;
  align-self: end;
  overflow: hidden;
}

@media screen and (min-width: 320px) {
  .container {
    flex-direction: column;
  }
  .info {
    width: 100%;
    padding: 2em;
  }

  .info h2 {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 0.5em;
  }

  .info p {
    font-size: 1.19rem;
    padding-bottom: 1em;
  }

  .image {
    width: 100%;
    padding: 1em 1em 0em 1em;
  }
}

@media screen and (min-width: 640px) {
  .info h2 {
    font-size: 2.1rem;
    width: 80%;
    place-content: center;
    font-weight: 700;
    padding-bottom: 0.5em;
  }

  .info p {
    font-size: 1.19rem;
    padding-bottom: 1em;
  }

  .image {
    width: 100%;
    padding: 2em 2em 0em 2em;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    flex-direction: row;
  }
  .info {
    width: 45%;
    padding: 4em;
  }

  .info h2 {
    font-size: 2.3rem;
    font-weight: 700;
    padding-bottom: 0.5em;
  }

  .info p {
    font-size: 1.19rem;
    padding-bottom: 1em;
  }

  .image {
    width: 55%;
    padding: 1em 2em 0em 1em;
  }
}
@media screen and (min-width: 1620px) {
  .info {
    width: 35%;
    padding: 5em;
  }

  .info h2 {
    font-size: 2.8rem;
    font-weight: 700;
    padding-bottom: 0.5em;
  }

  .info p {
    font-size: 1.25rem;
    padding-bottom: 1em;
  }

  .image {
    width: 65%;
    display: flex;
  }
}
