/* Gallery */

.gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.gallery li {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  background-color: #fff;
}

.gallery_image {
  position: relative;
  width: 100%;
}

.gallery_image_not_selected {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.gallery_image_selected {
  border: 1px solid rgba(0, 0, 0, 1);
}

@media (min-width: 280px) {
  .gallery {
    gap: 0.5em;
  }

  .gallery li {
    width: 52px;
    height: 52px;
  }
}

@media (max-width: 768px) {
  .gallery {
    display: flex;
    flex-direction: row;
  }

  .gallery li {
    width: 46px;
    height: 59px;
  }
}


@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-direction: column;
  }

  .gallery li {
    width: 52px;
    height: 67px;
  }

}




@media (min-width: 1200px) {
  .gallery {
    gap: 1em;
  }

  .gallery li {
    width: 59px;
    height: 78px;
  }
}