@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Homkiges";
  src: url("/fonts/Homkiges.ttf") format("truetype");
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-VariableFont_wght") format("truetype");
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}

.font-homkiges {
  font-family: "Homkiges", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  * {
    scrollbar-width: auto;
    scrollbar-color: #d1d1d1 #ffffff00;
  }

  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 5px;
    border: 0px none #ffffff;
  }

.category-card {
  height: 100% !important;
  width: 100% !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
figure,
p {
  font-size: inherit;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  font-weight: inherit;
  display: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: unset;
}

.text-outline {
  -webkit-text-stroke: 1px black;
}

.text-outline-white{
  -webkit-text-stroke: 1px white;
}

.max-w-1920 {
  max-width: 1920px;
}

@media (max-width: 768px) { 
  main {
    align-items:inherit;
  }
}