/* Product Cards */

.card {
  height: 480px;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
  box-shadow: 0 2px 1px 0 rgb(0 0 0 / 2%), 0 0 0 0.8px rgb(27 31 35 / 10%);
}

.top {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.top a span {
  margin: 2em !important;
}

.bottom {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

.name {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.5em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.description {
  font-size: 0.87rem;
  font-weight: 400;
  margin-bottom: 0.5em;
  opacity: 0.75;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.price {
  width: fit-content;
}

.price:hover {
  cursor: pointer;
}

.price span {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0.5em;
  opacity: 0.75;
}

.price font {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 0.2em;
  opacity: 0.97;
}

.name:hover {
  text-decoration: underline;
  cursor: pointer;
}
