/* Product Info */

.name {
  font-size: 1.6rem;
  font-weight: 700;
}

.description {
  opacity: 0.9;
}

.price {
  font-size: 1.8rem;
  font-weight: 700;
}

.quantity {
  margin-top: 10px;
  display: flex;
  gap: 1.5em;
}

.button {
  width: 100%;
  text-align: center;
  padding: 0.7em 2em;
  font-size: 0.95rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.white_button {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

.dark_button {
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
}

@media (min-width: 280px) {
  .quantity {
    justify-content: center;
  }
}

@media screen and (min-width: 360px){
  .price {
    font-size: 24px;
  }

  .button {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
}

@media (min-width: 1200px) {
  .quantity {
    justify-content: start;
  }
}
